.reveal {
    font-family: 'PT Sans', sans-serif;
    /* font-size: 36px; */
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.reveal h1 {
    font-size: 3.4em;
    color: #ff3c26;
}

.reveal h3 {
    text-transform: none !important;
    font-weight: normal !important;
}

.meetup-mark {
    font-family: 'Menlo', monospace !important;
    text-align: left !important;
    font-size: 70% !important;
    padding-top: 70px !important;
}

.above-src-code-separator {
    padding-top: 1px !important;
}

.under-src-code-separator {
    padding-top: 25px !important;
}

.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
    border-right-color: #F04F20;
}

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
    border-left-color: #F04F20;
}

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
    border-bottom-color: #F04F20;
}

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
    border-top-color: #F04F20;
}

.reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #FA7952;
}

.reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #FA7952;
}

.reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: #FA7952;
}

.reveal .controls div.navigate-down.enabled:hover {
    border-top-color: #FA7952;
}

.reveal .progress span {
    background: #F04F20;
}

.reveal pre code {
    font-size: 42px;
    line-height: 110% !important;
    font-family: 'Menlo', monospace !important;
    padding: 25px;
}

.src-code-small {
    font-size: 32px !important;
}

.src-code-big {
    font-size: 52px !important;
    font-family: 'Menlo', monospace !important;
    padding-bottom: 30px !important;
}

.src-code-big-aligned {
    text-align: left !important;
    font-size: 42px !important;
    font-family: 'Menlo', monospace !important;
    border: 1px solid #002b35 !important;
    border-radius: 5px !important;
    background-color: #002b35 !important;
    padding: 20px !important;
    color: #11a198 !important;
    /* padding-bottom: 30px !important; */
}

.src-code-keyword {
    color: #d53584 !important;
}

.src-code-number {
    color: #29a199 !important;
}

.src-code-type {
    color: #a58f2a !important;
}

.src-code-function {
    color: #2590d8 !important;
}

.my-site {
    font-size: 32px !important;
    font-family: 'Menlo', monospace !important;
}

.reveal .navigate-up {
    display: none !important;
}

.reveal .navigate-down {
    display: none !important;
}

.reveal .controls {
    /* display: none !important; */
}

/*
.reveal .slides section .fragment.highlight-red.visible {
    color: #ff2c2d;
    border-bottom: 3px solid #ff2c2d;
}
*/

.part-conception-title {
    color: #dedede !important;
}

.part-conception-mark {
    color: #dedede !important;
    font-size: 130px !important;
}

.calculator-mark {
    color: #224DD9 !important;
    font-size: 180px !important;
}

.intro-quote {
    text-align: left !important;
    font-size: 90px !important;
    padding-left: 80px !important;
    padding-bottom: 30px !important;
    font-family: 'Savoye LET', 'PT Sans' !important;
}

.big-text {
    color: #4F5F64 !important;
    font-size: 48px !important;
}

.medium-text {
    color: #4F5F64 !important;
    font-size: 38px !important;
}

.small-text {
    color: #4F5F64 !important;
    font-size: 30px !important;
}

.red-text {
    color: #ff2634 !important;
}

.small-thumbs {
    font-size: 48px !important;
    padding-right: 6px !important;
}

.english-separator {
    padding-top: 18px !important;
}

.space-leak-result-separator {
    padding-top: 25px !important;
}

.thank-you-cap {
    font-family: 'American Typewriter', 'PT Sans' !important;
    font-size: 60px !important;
    color: #aaa !important;
}

.stat-clock-icon {
    color: #888 !important;
    padding-right: 14px !important;
}

.stat-memory-icon {
    color: #888 !important;
}

.stat-wrapper {
    text-align: left !important;
    padding-left: 45px !important;
}

.lazy-color {
    color: #53777A !important;
}

.plus-color {
    color: #CC333F !important;
}

.minus-color {
    color: #542437 !important;
}

.text-left {
    text-align: left !important;
    padding-left: 44px !important;
}

.start-tip {
    font-size: 20px !important;
    text-align: center !important;
}

.key {
    border: 1px solid #888 !important;
    border-radius: 4px !important;
    background-color: #999 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-family: 'Menlo'. monospace !important;
    color: #eee !important;
    font-size: 90% !important;
}

